/* Enter your custom styles here */

.sapUiBody{
	height: 99%!important;
}

.ngTokenizerDisplayMode .sapMTokenizerScrollContainer{
	display: inline-grid!important;
}

.ngRuleSelectExpression16{
	width: 16rem!important;
}


.ngRuleSelectExpression8{
	width: 8rem;
}